# If requiring this library as a dependency, ignore CLI-stand alone stuff
/cli         export-ignore
/dist        export-ignore

# Ignore Dev Stuff
/tests            export-ignore
/box.json         export-ignore
/phpunit.xml.dist export-ignore
/.gitignore       export-ignore
/.gitattributes   export-ignore
