#
# TicketMove Configuration
#

#
# Setup Optional Log
#
# Comment out or set to false/null for no log
#
log: /tmp/ticketmove.log

#
# Status Tracking Database Configuration
#
# Use Built-In (sqlite) by specifying the path, or
# specify your own connection string and table name to use.
#
# If using your own 'connstring' and 'table', comment out the 'path'
# parameter
#
statusdb:
    path: ~/.conveyorbelt_tracking
    # connstring: sqlite:///statusdb/migrate_status.sqlite
    # table:  data_migrate

#
# Migrators
#
# If you place your migrators into the
#
migrators:
